<div class="flex-header-centered">
  <div class="header-width">
    <h1 class="headers-small">
      Stwórz nowe hasło
    </h1>
    <div class="separator"></div>
  </div>
</div>


<div class="registrationForm">

  <form class="form" (ngSubmit)="sendPassword()" [formGroup]="newPasswordForm">

    <div class="registrationField">
      <mat-form-field >
        <mat-label>Nowe Hasło:</mat-label>
        <input type="password" matInput [formControl]="password"
               [errorStateMatcher]="sharedValidator"
               placeholder="">
        <mat-error
          *ngIf="password.hasError('minlength') || password.hasError('maxlength') || password.hasError('required')">
          Wpisz nowe hasło (przynajmniej 6 znaków)
        </mat-error>
      </mat-form-field>
    </div>

    <div class="registrationField">
      <mat-form-field>
        <mat-label>Powtórz hasło</mat-label>
        <input type="password" matInput [formControl]="passwordRepeat" [errorStateMatcher]="twoPasswordsValidator"
               placeholder="" [readonly]="isPasswordError()">
        <mat-error>
          Powtórzone hasło nie pasuję do nowego hasła
        </mat-error>
      </mat-form-field>
    </div>

    <div class="submitButton">
      <button class="button-register"
              mat-raised-button
              type="submit"
              [disabled]="isNewPasswordApprovalButtonDisabled()">Wyślij</button>
    </div>

  </form>
</div>
