<div class="container">

  <div class="bioHeader">
    <header >
      Witaj, nazywam się <a href="https://pl.wikipedia.org/wiki/Niemir" > Niemir </a> Wiśniewski i pasjonuję się programowaniem.
    </header>
  </div>

  <article class="bioArticle">
    <img src="../../../assets/zdjecie_cv.jpg"
         alt="Niemir Wiśniewski Zdjęcie" class="bioPhoto"/>
    <p class="bioParagraph" style="margin-block-start: 0">
      Swoją pierwszą książke o programowaniu,
      "Java dla bystrzaków" kupiłem ponad rok temu,
      w zamyśle znalezienia ciekawej i rozwijającej pracy.
      Decydując się na język Java kierowałem się ilością
      ofert pracy znalezionych w internecie.
      Myślałem wtedy naiwnie, że ten jeden język jest
      wszystkim czego potrzeba do pracy developera.
      <br><br>
      Dziś mam lepsze wyborażenie na temat pracy programisty.
      W mojej edukacji skupiłem się głównie na platformie Springa i relacyjnych bazach danych.
      W pewnym momencie nauki postanowiłem stowrzyć stronę internetową co zaowocowało
      zapoznaniem się z frameworkiem Angular i językami HTML, CSS, TypeScript.
      <br><br>
      Strona na której się znajdujemy została napisana przeze mnie
      i oczywiście nie jest to produkt finalny.
      Pragnę zaimplementować w niej wiele funkcjonalności
      aby dobrze reprezentowała moje umiejętności
      i rozwijać się w kierunku fullstack developera.</p>
  </article>


  <button class="downloadCVButton" (click)="downloadBio()">
    Pobierz CV
  </button>


  <img class="bioCV" src="../../../assets/Niemir_Wisniewski_CV.jpg"
  alt="CV autora strony Niemira Wiśniewskiego">

</div>
