

  <form *ngIf="isLogged()" class="quillContainer" (ngSubmit)="createPost()" [formGroup]="postForm">

    <div style="width: 80%">
    <app-content [content]="contentControl" (onContentChange)="onContentChangeEvent($event)"></app-content>
    </div>

    <div>
    <button class="downloadCVButton" style="display: inline;"
      type="submit">Wyślij
    </button>
    </div>

    <div >
    <ngx-file-drop style="display: inline-block"
      dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                   accept="image/*" multiple="false" [formControl]="imageControl" ngDefaultControl >
      <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
        <button class="downloadCVButton" style="background-color: #9f7c2b" (click)="openFileSelector()">Prześlij zdjęcie</button>
      </ng-template>
    </ngx-file-drop>


    <img [src]="imageUrl" class="image-container">

    <span
      *ngIf="(imageSelected || formSubmitted) &&
          imageControl.hasError('imageInvalid')" class="mat-error error-text">
          Zdjęcie (JPG lub PNG) nie może być większe niż 3MB</span>

    </div>
    <!-- SUBMIT -->

  </form>

<ng-container *ngFor="let singlePost of posts;">
  <app-post [post]="singlePost">
  </app-post>
</ng-container>

