<div class="appa-flex-header-centered">
  <div class="appa-header-width">
    <h1 class="appa-headers-small">
      Logowanie
    </h1>
    <div class="appa-separator"></div>
  </div>
</div>


<div class="registrationForm">

  <form class="form" (ngSubmit)="login()" [formGroup]="usernameForm">

    <div class="registrationField">
      <mat-form-field >
        <mat-label>Nazwa użytkownika:</mat-label>
        <input type="text" matInput [formControl]="username"
               [errorStateMatcher]="sharedValidator"
               placeholder="">
        <mat-error *ngIf="username.hasError('required')">
          Nazwa użytkownika jest wymagana.</mat-error>
      </mat-form-field>
    </div>

    <div class="registrationField">
      <mat-form-field >
        <mat-label>Hasło:</mat-label>
        <input class="inputRegForm" type="password"
               matInput [formControl]="password" [errorStateMatcher]="sharedValidator"
               placeholder="">
        <mat-error class="inputErrorRegFrom"
                   *ngIf="password.hasError('required')">
          Hasło jest wymagane</mat-error>
      </mat-form-field>
    </div>

    <div class="submitButton">
      <button class="appa-button-register"
              mat-raised-button
              type="submit">Zaloguj</button>
    </div>
  </form>
</div>
