<div class="container">
  <h1 class="loginH1">
    Logowanie
  </h1>

  <form class="registrationForm" (ngSubmit)="login()" [formGroup]="usernameForm">

    <mat-form-field >
      <mat-label>Nazwa użytkownika:</mat-label>
      <input type="text" matInput [formControl]="username"
             [errorStateMatcher]="sharedValidator"
             placeholder="">
      <mat-error *ngIf="username.hasError('required')">
        Nazwa użytkownika jest wymagana.</mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>Hasło:</mat-label>
      <input type="password"
             matInput [formControl]="password" [errorStateMatcher]="sharedValidator"
             placeholder="">
      <mat-error
        *ngIf="password.hasError('required')">
        Hasło jest wymagane</mat-error>
    </mat-form-field>

    <div style="display: flex;
    flex-direction: row-reverse">
    <button class="submitButton"
            type="submit">Zaloguj
    </button>

    <button class="submitButton" style="align-self: flex-start;"
            (click)="onPasswordReset()">Zresetuj Hasło
    </button>
    </div>

  </form>
</div>
