<div class="container">
  <h1 class="loginH1">
    Zresetuj Hasło
  </h1>

  <form class="registrationForm" (ngSubmit)="resetPassword()" [formGroup]="emailForm">

      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input type="email" matInput [formControl]="email"
               [errorStateMatcher]="sharedValidator"
               placeholder="">
        <mat-hint class="help-block-alternative-balanced"> Wpisz email przypisany do swojego konta, wyślemy do niego maila
          z linkiem do zresetowania hasła
        </mat-hint>
        <mat-error *ngIf="email.hasError('email') || email.hasError('required')">
          Email jest wymagany
        </mat-error>
      </mat-form-field>

      <button class="submitButton"
              type="submit"
      [disabled]="isPasswordChangeApprovalButtonDisabled()">Wyślij
      </button>

  </form>
</div>
