<div class="flex-header-centered">
  <div class="header-width">
    <h1 class="headers-small">
      Zresetuj Hasło
    </h1>
    <div class="separator"></div>
  </div>
</div>


<div class="registrationForm">

  <form class="form" (ngSubmit)="resetPassword()" [formGroup]="emailForm">

    <div class="registrationField">
      <mat-form-field>
        <mat-label>Email:</mat-label>
        <input type="email" matInput [formControl]="email"
               [errorStateMatcher]="sharedValidator"
               placeholder="">
        <mat-hint class="help-block-alternative-balanced"> Wpisz email przypisany do swojego konta, wyślemy do niego maila
          z linkiem do zresetowania hasła
        </mat-hint>
        <mat-error *ngIf="email.hasError('email') || email.hasError('required')">
          Email jest wymagany
        </mat-error>
      </mat-form-field>
    </div>

    <div class="submitButton">
      <button class="button-register"
              mat-raised-button
              type="submit"
      [disabled]="isPasswordChangeApprovalButtonDisabled()">Wyślij</button>
    </div>

  </form>
</div>
