@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

body {
  margin: 0;
  background-color: #0672ce;
  background: #020c15;
}

a {
  text-decoration: none;
  color: inherit;
}

.navigationColor{
  background-image: linear-gradient(90deg, #503804, #091d49);
}

.navigationBar {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2em;
  max-width: 1200px;
}

.navigationLink {
  color: #EEEEEE;
  text-transform: uppercase;
  font: 500 1rem Roboto,sans-serif;
  letter-spacing: .125em;
  padding: 1em 0;
}

.container{
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.bioHeader{
  font-family: "Times New Roman", serif;
  color: #EEEEEE;
  font-size: 2.5rem;
  letter-spacing: .0178571429em;
}

.bioArticle{
  margin-top: 1.5rem;
}

.bioPhoto {
  margin-right: 1rem;
  margin-bottom: 1rem;
  max-width: 30%;
  border-radius: 1rem;
  float: left;
}

.bioParagraph{
  font-family: Helvetica, Arial, sans-serif;
  width: 95%;
  max-width: 1300px;
  font-size: 1.5em;
  color: #EEEEEE;

}

.downloadCVButton{
  display: block;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 500;
  border-radius: 0.5rem;
  background-color: #0672ce;
  background-color: #98c2dc;
  color: #091D49FF;
  font-size: 1rem;
  padding: 0.5em 1em;
  clear: left;
}

.bioCV{
  margin-top: 1rem;
  max-width: 1400px;
  width: 100%;
  border-radius: 1rem;
}

.registrationForm{
  display: flex;
  justify-content: center;
  height: 130px;
  flex-flow: wrap;
  padding: 32px 32px 8px 32px;
}

mat-form-field {
  width: 400px;
}

.registrationField {
  text-align: center;
}

.form {
  margin-top: 20px;
  flex-basis: 900px;
}

.flex-header-centered {
  margin-top: 20px!important;
  display: flex;
  justify-content: center;
  max-width: 1020px;
}

.header-width {
  width: 1020px;
}

.headers-small {
  font-size: 2.0em;
  padding-right: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  line-height: 0.8em;
  margin-bottom: 10px;
}

.separator {
  border-top: 1px solid rgb(229 229 229);
}

.submitButton{
  display: inline-block;
  margin-left: 600px;
}

.resetPButton{
  display: inline-block;
  justify-content: flex-start;
  margin-left: 100px;
}

.button-register {
  margin-top: 35px;
  width: 120px;
  height: 50px;
  border-radius: 0.75rem;
  background-color: #9f7e0f !important;
}



.button-resetPass {
  margin-top: 35px;
  width: 120px;
  height: 50px;
  background-color: #3d50e5 !important;
  border-radius: 0.75rem;
}

.create-form {
  display: flex;
}

.vertical-box-25 {
  margin-bottom: 25px;
}

.label {
  color: gray;
  letter-spacing: 1.25px;
  margin-bottom: 15px;
}

.flex-row-centered {
  background-color: #04182a;
  border-radius: 0.25rem;
  padding: 1.25rem;
  width: 900px;
  margin: 20px auto;
}

.imageCreatorField {
  display: flex;
  margin-top: 20px;
  min-height: 50px;
  margin-left: 20px;
  width: 200px;
}

.horizontal-box-25 {
  width: 25px;
}

.mat-error {
  font-size: 14px;
}

.ngx-file-drop__drop-zone{
  border: none!important;
}

.error-text {
  letter-spacing: 1.25px;
  margin-top: 5px;
  font-size: 14px;
}

.image-container {
  max-width: 100px;
  margin-left: 20px;
}

.flex-row-right {
  margin-top: 20px;
  display: flex;
  justify-content: left;

}

.imageStyling{
  max-width: 800px;
  border-radius: 0.25rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.postStyling{
  padding: 1.25rem;
  background-color: #503804;
  width: 900px;
  display: block;
  border-radius: 0.25rem;
  margin: 20px auto;
}

.ql-container {
  width: 500px;
  min-height: 100px;
  background-color: #99c4de;
  color: black;
}

.ql-toolbar{
  background-color: #ded7a4;
}

.postButton{
  color: #99c4de;
}

.help-block-alternative-balanced {
  margin-bottom: 0;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400 !important;
  margin-top: 5px;
  font-size: 13px !important;
  color: #737373 !important;
  letter-spacing: 1px;
}



